<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./styles/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="four04">
        <h1>{{errType}}</h1>

        <h2>{{errMsg}}</h2>
    </div>

    {{>header}}

    {{>footer}}

</body>

</html>