<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./styles/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    {{>header}}

    {{>footer}}

    <p class="aboutP">This is a simple weather app.It is one of my first node.js project. <br>
        I mainly focused on the functionality reather than style.</p>
    <script src="./scripts/index.js"></script>
</body>

</html>